In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('assets/artwork_sample.csv')
data.head(10)

In [4]:
data.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear         int64
dimensions             object
width                   int64
height                  int64
depth                 float64
units                  object
inscription           float64
thumbnailCopyright    float64
thumbnailUrl           object
url                    object
dtype: object

In [5]:
data.acquisitionYear

0    1922
1    1922
2    1922
3    1922
4    1919
5    1919
6    1919
7    1919
8    1919
9    1919
Name: acquisitionYear, dtype: int64

In [13]:
data.acquisitionYear.astype(float)

0    1922.0
1    1922.0
2    1922.0
3    1922.0
4    1919.0
5    1919.0
6    1919.0
7    1919.0
8    1919.0
9    1919.0
Name: acquisitionYear, dtype: float64

In [14]:
data.acquisitionYear.dtype #astype does not change the Column in place so the original column is still type Int64.

dtype('int64')

In [15]:
data.acquisitionYear = data.acquisitionYear.astype(float) #Changes the original DF column by repolacing it with the type returned from the astype method.

In [16]:
data.acquisitionYear.dtype #Original column is now type float64.

dtype('float64')

In [18]:
fulldf = pd.read_csv("assets/artwork_data.csv", low_memory=False)
fulldf.head(10)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826â€“7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
5,1040,A00006,"Blake, William",artist,39,Ciampolo the Barrator Tormented by the Devils,"1826â€“7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 240 x 338 mm,240,338,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-ciam...
6,1041,A00007,"Blake, William",artist,39,The Baffled Devils Fighting,"1826â€“7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 242 x 334 mm,242,334,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
7,1042,A00008,"Blake, William",artist,39,The Six-Footed Serpent Attacking Agnolo Brunel...,"1826â€“7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 246 x 340 mm,246,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
8,1043,A00009,"Blake, William",artist,39,The Serpent Attacking Buoso Donati,"1826â€“7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 241 x 335 mm,241,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
9,1044,A00010,"Blake, William",artist,39,The Pit of Disease: The Falsifiers,"1826â€“7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 340 mm,243,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [19]:
fulldf.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [20]:
fulldf.height.astype(float)

ValueError: could not convert string to float: 'mm'

In [24]:
pd.to_numeric(fulldf.height, errors="coerce")

0         419.0
1         213.0
2         467.0
3         394.0
4         335.0
          ...
69196     305.0
69197     305.0
69198    2410.0
69199       NaN
69200     660.0
Name: height, Length: 69201, dtype: float64

In [26]:
fulldf.height = pd.to_numeric(fulldf.height, errors="coerce")

In [27]:
fulldf.height.dtype

dtype('float64')

In [29]:
data.year.min()

1785.0

In [30]:
data.year.max()

1826.0

In [33]:
data.year.sum()

12741.0

In [31]:
data.year.mean()

1820.142857142857

In [32]:
data.year.std()

15.496543393378316

In [34]:
data.artist.min()

'Blake, Robert'

In [35]:
data.artist.mean()

TypeError: Could not convert Blake, RobertBlake, RobertBlake, RobertBlake, RobertBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, William to numeric

In [36]:
data.artist.sum()

'Blake, RobertBlake, RobertBlake, RobertBlake, RobertBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, William'

In [37]:
data.agg('min') #Aggrigate across the entire data frame.

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                         1826â€“7, reprinted 1892
medium                                                Graphite on paper
creditLine                          Presented by Mrs John Richmond 1922
year                                                             1785.0
acquisitionYear                                                  1919.0
dimensions                                          image: 240 x 338 mm
width                                                               240
height                                                              213
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [39]:
data.agg(['min', 'max']) #Both Min and Max of each column (series).

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
min,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,"1826â€“7, reprinted 1892",Graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1919.0,image: 240 x 338 mm,240,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
max,1044,A00010,"Blake, William",artist,39,"Two Drawings of Frightened Figures, Probably f...",date not known,"Watercolour, ink, chalk and graphite on paper....",Purchased with the assistance of a special gra...,1826.0,1922.0,support: 394 x 419 mm,394,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [40]:
data.agg(['min', 'max', 'mean', 'std'])

/var/folders/g9/c_5_0s1s5xx5fg76z29fxz5c0000gn/T/ipykernel_50583/1587126081.py:1: FutureWarning: ['accession_number', 'artist', 'artistRole', 'title', 'dateText', 'medium', 'creditLine', 'dimensions', 'units', 'thumbnailUrl', 'url'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  data.agg(['min', 'max', 'mean', 'std'])

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
min,1035.00000,A00001,"Blake, Robert",artist,38.000000,A Figure Bowing before a Seated Old Man with h...,"1826â€“7, reprinted 1892",Graphite on paper,Presented by Mrs John Richmond 1922,1785.000000,1919.000000,image: 240 x 338 mm,240.000000,213.000000,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
max,1044.00000,A00010,"Blake, William",artist,39.000000,"Two Drawings of Frightened Figures, Probably f...",date not known,"Watercolour, ink, chalk and graphite on paper....",Purchased with the assistance of a special gra...,1826.000000,1922.000000,support: 394 x 419 mm,394.000000,467.000000,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
mean,1039.50000,NaN,NaN,NaN,38.600000,NaN,NaN,NaN,NaN,1820.142857,1920.200000,NaN,282.100000,351.500000,NaN,NaN,NaN,NaN,NaN,NaN
std,3.02765,NaN,NaN,NaN,0.516398,NaN,NaN,NaN,NaN,15.496543,1.549193,NaN,55.562677,66.818577,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
data.agg('mean', axis='columns')

/var/folders/g9/c_5_0s1s5xx5fg76z29fxz5c0000gn/T/ipykernel_50583/782912701.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.agg('mean', axis='columns')

Series([], dtype: float64)